:root {
  --main-border-radius: 5px;
  --box-radius01: 0.25em;
  --border01: 1px solid rgb(206, 206, 206);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 13pt;
  min-width: 320px;
}

body {
  background: var(--radial-background01);
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
}
